.app {
  height            : 500px;
  width             : 500px;
  margin            : auto;
  display           : flex;
  flex-direction    : column;
  justify-content   : center;
  align-items       : center;
  overflow          : scroll;
  padding           : 0.8rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(204, 202, 204, 1);
  -moz-box-shadow   : 0px 0px 5px 0px rgba(204, 202, 204, 1);
  box-shadow        : 0px 0px 5px 0px rgba(204, 202, 204, 1);
  border-radius     : 6px;
  position          : relative;
  background-image  : linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
@media all and (max-width: 500px) {
  .app {
    width: 300px;
  }
}
.app h3 {
  position : absolute;
  top      : 5px;
  font-size: 2.5rem;
  color: pink;
  padding: 0;
  margin: 0;
  margin-top: 0.8rem;
}

@media all and (max-width: 500px) {
  .app h3 {
    top: 5px;
  }
}

.error {
  font-size: 1.6rem;
  color    : red;
}

.search {
  position: absolute;
  top: 50px;
  right: 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 0.5rem 0.8rem;
}